.com_list {
  width: 500px;
}
.com_cas {
  width: 100%;
}
.com_title {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  text-align: right;
  margin-right: 5px;
}
.com_button {
  margin-left: 120px;
}
