.page_in {
  width: 400px;
  background-color: #eee;
  padding: 24px;
}
.page_r {
  width: 500px;
  padding: 24px;
  margin-left: 100px;
  background-color: #eee;
}
.page_l_t {
  
  display: inline-block;
  width: 70px;
}
.page {
 
}
